        body {
            background-image: url("i2.jpg");
        }


        .navbar ul {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            /* définis la largeur de la grille*/
            list-style: none;
            /* pour qu'il n'y est pas de point */
            padding: 0;
            /* pour que la barre soit "collé" en haut */
            margin: 0;
        }

        /* style*/
        .navbar li {
            padding: 10px 20px;
            border-radius: 15px;
            border: 2px solid black;
        }

        .navbar a {
            text-decoration: none;
            color: black;
        }

        #M1 {
            background: white;
            padding-top: 0;
            box-sizing: border-box;
            display: grid;
            gap: 8px;
        }

        #m1 {
            grid-column: span 3 / span 3;
            grid-row: span 3 / span 3;
            grid-column-start: 2;
            grid-row-start: 2;
        }




        /* positions */
        .l1 {
            text-align: center;
            justify-self: start;
            background-color: hotpink;
            min-width: 150px;
        }

        .active {
            text-align: center;
            justify-self: center;
            background-color: white;
            min-width: 250px;
        }

        .l2 {
            text-align: center;
            justify-self: end;
            background-color: hotpink;
            min-width: 150px;
        }

        /* hover */
        .navbar li:hover {
            background-color: lightpink;
        }
