/* VIDEO BACKGROUND */
    .video-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
/* IMAGE BACKGROUND */
.blocImage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.pexels.com/photos/11463203/pexels-photo-11463203.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 200%;
}

#titre {
    padding-top: 5%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


/* GENERAL */
    body {
        margin: 0;
        height: 100vh;
        justify-content: center; /* centre horizontal */
        align-items: center;     /* centre vertical */

    }

/* NAV BAR */
    .navbar{
        padding-bottom: 12px; /* écart entre la barre et le reste de la page */
    }
    
    .navbar ul {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        /* définis la largeur de la grille*/
        list-style: none;
        /* pour qu'il n'y est pas de point */
        padding: 0;
        /* pour que la barre soit "collé" en haut */
        margin: 0;
    }

    /* style*/
    .navbar li {
        padding: 10px 20px;
        border-radius: 15px;
        border: 2px solid black;
    }

    .navbar a {
        text-decoration: none;
        color: black;
    }

    #M1 {
        /*background: white;
        border-radius: 15px;*/
        padding-left: 10%;
        padding-right: 10%;
    }

    #m1 {
        background: rgb(255, 99, 99);
        padding-top: 0px;
        padding: 5%;
        border-radius: 15px;
    }

    /* positions */
    .l1 {
        text-align: center;
        justify-self: start;
        background-color: hotpink;
        min-width: 150px;
    }

    .active {
        text-align: center;
        justify-self: center;
        background-color: white;
        min-width: 250px;
    }

    .l2 {
        text-align: center;
        justify-self: end;
        background-color: hotpink;
        min-width: 150px;
    }

    /* hover */
    .navbar li:hover {
        background-color: lightpink;
    }
